@using EntityLayer.Concrete
@model IEnumerable<EntityLayer.Concrete.Animal>
@{
    ViewBag.Title = "Cats";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<h1 style="font-weight: bold;">Kedi</h1>
<br />


<table class="table table-striped">

    <tr>

        <th>ID</th>
        <th>Ad</th>
        <th>Yaş</th>
        <th>Fotoğraf</th>
        <th>Tür</th>
        <th>Cins</th>
        <th>Cinsiyet</th>
        <th>Özellik</th>
        <th>Durum</th>
        <th></th>
        <th>Güncelle</th>

    </tr>


    @foreach (var item in ViewBag.Cats as List<Animal>)
    {
        <tr>
            <td>@item.AnimalID</td>
            <td>@item.AnimalName</td>
            <td>@item.AnimalAge</td>
            <td>
                @if (!string.IsNullOrEmpty(item.AnimalImg))
                {
                    <img src="@item.AnimalImg" alt="@item.AnimalImg" style="width:100px; height:auto;" />
                }
            </td>
            <td>@item.AnimalBreed</td>
            <td>@item.AnimalType</td>
            <td>@item.AnimalSex</td>
            <td>@item.AnimalDescription</td>
            <td>@(item.IsActive ? "Aktif" : "Pasif")</td>
            <td>
                @if (item.IsActive)
                {
                    <a href="@Url.Action("DeactivateAnimal", new { id = item.AnimalID })" class="btn btn-danger">Pasif Yap</a>
                }
                else
                {
                    <a href="@Url.Action("ActivateAnimal", new { id = item.AnimalID })" class="btn btn-success">Aktif Yap</a>
                }
            </td>
            @*<td><a href="/AdminAnimal/DeleteAnimal/@item.AnimalID" class="btn btn-danger">Sil</a></td>*@
            <td><a href="/AdminAnimal/UpdateAnimal/@item.AnimalID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<br />
<a href="/AdminAnimal/AddAnimal" class="btn btn-info">Yeni Hayvan Ekle</a>
